<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Progress</title>
</head>
<body>
    <div id="msg"></div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary mr-2">Homepage</a>
        <a href="/login_view" class="btn btn-success mr-2">Login</a>
        <a href="/register_view" class="btn btn-info mr-2">Register</a>
        <a href="/store_view" class="btn btn-warning">Games Collection</a>
    </div>
</body>
</html>